.menu {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vW;
    height: 100vH;
    background: var(--menu);
    display: grid;
    place-content: left;
    }

    .noscroll,
    .noscroll body {
    overflow: hidden;
}

.menu__close {
    position: fixed;
    appearance: none;
    border: none;
    background: none;
    padding: none;
    cursor: pointer;
    margin-left: 75%;
    margin-top: 1rem;
}

.menu__close--img {
    width: 70px;
}

.menu__items {
    margin: 0;
    padding: 0;
    margin-top: 6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    text-align: center;
}

.items__li1 {
    transform: rotate(-11.17deg);
}

.items__li2 {
    transform: rotate(10.42deg);
}

.items__li3 {
    transform: rotate(-33.29deg);
}

.items__li1--title,
.items__li2--title,
.items__li3--title {
    font-family: 'Anton', sans-serif;
    font-size: var(--titre-menu);
    color: black;
    text-decoration: none;
    border: solid;
    padding: 0.2rem;
    text-transform: uppercase;
}